

<!DOCTYPE html>
<html>
<head>
    <title>Enregistrement | WINTER'S NIGHT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<h1 class="text-center m-5">PARRAINAGE L1 & L2</h1>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">Binôme 1</th>
              <th scope="col">Matricule</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénoms</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">LICENCE 1</th>
              <td>19-ESATIC0345JK</td>
              <td>Dje Bi</td>
              <td>Mointi Patrice</td>
            </tr>
            <tr>
              <th scope="row">LICENCE 2</th>
              <td>18-ESATIC0345JK</td>
              <td>Yao</td>
              <td>Bini </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">Binôme 2</th>
              <th scope="col">Matricule</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénoms</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">LICENCE 1</th>
              <td>19-ESATIC0395OK</td>
              <td>Dje Lou</td>
              <td>Fatoumata</td>
            </tr>
            <tr>
              <th scope="row">LICENCE 2</th>
              <td>18-ESATIC0345BN</td>
              <td>Medi</td>
              <td>Paul</td>
            </tr>
        </tbody>
    </table>    
</div>
    
</body>
</html>
